div(class="container")
  h2 Listado de Productos 
  table(class="container table table-dark")
    thead 
      tr 
        th(scope="col") Title
        th(scope="col") Price
        th(scope="col") Image
    tbody
      each producto in productos
        tr 
          td= producto.title
          td= producto.price
          td
            img(src= producto.thumbnail, width="40", height="40")
  a(href="/")
    button(class="btn btn-secondary mt-3") Volver al Formulario