<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
    <title>Welcome</title>
  </head>
  <body>
    <div class="container-sm w-25 mt-5">
      <div class="text-center">
        <p>Welcome <%= username %>!</p>
      </div>

      <div class="text-center">
        <p><a href="/logout">Logout</a></p>
      </div>
    </div>
  </body>
</html>
