<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
    <title>Register Error</title>
  </head>
  <body>
    <div class="container-sm w-25 mt-5">
      <div class="text-center">
        <p style="color: red">Error: User already exists!</p>
      </div>

      <div class="text-center">
        <p><a href="/">Log in instead?</a></p>
      </div>
    </div>
  </body>
</html>
