<div class="container">
  <h2>Listado de Productos</h2>
  <table class="container table table-dark">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <% productos.forEach(x => { %>
      <tr>
        <td><%= x.title %></td>
        <td><%= x.price %></td>
        <td><img src="<%= x.thumbnail %>" width="40" height="40" /></td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <a href="/">
    <button class="btn btn-secondary mt-3">Volver al Formulario</button>
  </a>
</div>
