<div class='container'>
  {{#if products.length}}
    <table class='container table table-dark'>
      <thead>
        <tr>
          <th scope='col'>Title</th>
          <th scope='col'>Price</th>
          <th scope='col'>Image</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td><%= x.title %></td>
            <td><%= x.price %></td>
            <td><img src='<%= x.thumbnail %>' width='40' height='40' /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h3 class='alert alert-danger'>No products</h3>
  {{/if}}
</div>